body {
  font-family: Arial, sans-serif;
  background-color: #ecf0f4;
}
.modal {
  display: block;
  left: 0;
  top: 0;
  background-color: #ecf0f4;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
  margin-top: -30px;
  margin-right: 20px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.slider-container {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  background-color: #ecf0f4;
}

.slider-img {
  height: 50%;
  width: 30%;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: opacity 0.5s ease-in-out;
  background-color: #ecf0f4;
  color: #ecf0f4;
}
.slider-text {
  font-size: 20px;
  margin-bottom: 30px;
  font-size: x-large;
  background-color: #ecf0f4;
}
#inst1 {
  height: auto;
  width: 30%;
}
.range-slider {
  position: relative;
  top: 130px;
  right: 250px;
}

.input-range {
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  width: 150px;
  height: 75px;
  transform: rotate(0deg);
}
.rectangle {
  margin-top: 50px;
  margin-left: 500px;
  margin-bottom: 0px;
  width: 100px;
  height: 30px;
  top: 200px;
  border: 2px solid grey;
  border-style: dotted;
  border-radius: 10px;
  padding: 3%;
}
.textrectangle {
  display: none;
}

#inst3,
#inst4,
#inst5,
#inst6 {
  height: auto;
  width: 50%;
}
.carousel {
  position: relative;
  overflow: hidden;
  background-color: #ecf0f4;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  background-color: #ecf0f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel-item {
  width: 100%;
  flex: 0 0 auto;
  background-color: #ecf0f4;
}

.decision {
  display: none;
}
.decision-content {
  text-align: center;
  margin-top: 12%;
  font-size: 24px;
}

/* button-*/
.button-container .button-contain {
  text-align: center;
  margin-top: 20px;
}

.button-74 {
  appearance: none;
  background-color: #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-74.zero {
  width: 15%;
  color: #0778e9;
  background-color: #ecf0f4;
  border-style: block;
  border-color: #0778e9;
  border-radius: 10px;
}
.button-74.first {
  color: rgb(68, 118, 135);
  background-color: #ecf0f4;
  font-weight: 5000;
  border-style: block;
  border-color: #0778e9;
  width: 35%;
}
.button-74.second {
  border-style: none;
  margin-top: 10px;
  color: #ffffff;
  background-color: rgb(19, 109, 139);
  width: 35%;
}
.button-74:hover {
  background-color: rgb(4, 120, 114);
}
.button-74.zero:hover {
  color: white;
}
.button-74.first:hover {
  color: white;
}
